@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #1E1E1E;
    background-color: #FF6F61;
    letter-spacing: 0.8px;
    font-size: 16px;
    overflow-x: hidden;
}

/* headings and logo */

h1 {
    font-family: 'Krona One', sans-serif;
    letter-spacing: 3px;
    color: #1E1E1E;
    font-size: 200%;
    letter-spacing: 8px;
    text-align: left;
    
}

h2 {
    font-family: 'Krona One', sans-serif;
    letter-spacing: 3px;
    color: #1E1E1E;
    font-size: 175%;
    letter-spacing: 8px;
  
}

  .header h1 {
    position: relative;
    top: 12px;
    left: 10px;
  }

/* navigation styles */

#navbar {
    text-align: center;
    margin-top: 25px; 
}

#navbar a {
    text-decoration: none;
    color:#1E1E1E
}
/* hero image and cover text */

#hero-outer {
    height: 900px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 900px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
    background-size: cover;
    margin-top: 30px;
}

#hero-image-txt {
    color: white;
    position: absolute;
    left: 125px;
    bottom: 50px;
    background-color: rgba(18, 30, 199, 0.5);
    font-family: BioRhyme, sans-serif;
    font-size: 100%;
    position: absolute;
    padding: 15px;
}

#hero-image-txt h2 {
  color: white;
}